<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".unityweb" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>
